################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EventOrdering/copilot-chat/a2f1debe/sessions
/.vs/EventOrdering/DesignTimeBuild
/.vs/EventOrdering/FileContentIndex
/.vs/EventOrdering/v17/TestStore/0
/.vs/EventOrdering/v17
/.vs/ProjectEvaluation
/bin/Debug/net8.0
/obj
/AccountEventHandler/bin/Debug/net8.0
/AccountEventHandler/obj/Debug/net8.0
/AccountEventHandler/obj
/AccountEvents/bin/Debug/net8.0
/AccountEvents/obj
/AccountModel/bin/Debug/net8.0
/AccountModel/obj
/AccountService/bin/Debug/net8.0
/AccountService/obj
/EventOrderingTest/bin/Debug/net8.0
/EventOrderingTest/obj
/EventOrderingTests/obj
/EventOrderingTests
/EventOrdering/bin/Debug/net8.0
/EventOrdering/obj
/TracingService/bin/Debug/net8.0
/TracingService/obj
